.navStyle {
  list-style: none;
  display: flex;
  margin-top: 35px;
  gap: 15px;
}

.navStyle a {
  min-width: 100px;
  padding: 10px 20px;
  background-color: #e16444;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.navStyle a:hover,
.navStyle a:focus {
  background: #ae290f;
}
